* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --error-color: hsl(4, 100%, 67%);
  --Blue-800: hsl(234, 29%, 20%);
  --Blue-700: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-family: "Roboto", sans-serif;
}
main {
  width: 100%;
  height: 100vh;
  background-color: var(--Blue-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
section {
  width: 60%;
  height: 600px;
  background-color: var(--White);
  border-radius: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}
section :nth-child(1) {
  order: 2;
}
section :nth-child(2) {
  order: 1;
}
aside {
  width: 56%;
  margin: 4em 0;
}
.illustration {
  width: 596px;
  height: 565px;
}
.content {
  order: 1;
  padding: 2em;
  color: var(--Blue-700);
}
h1 {
  padding-bottom: 0.6em;
  color: var(--Blue-800);
}
p {
  color: var(--Blue-700);
}
ul {
  list-style-image: url(./assets/images/icon-list.svg);
  padding: 1.3em;
}
li {
  margin: 0.3em 0;
  padding: 0.5em;
}
form {
  padding: 1em 0;
}
label {
  display: inline-block;
}
input {
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid var(--Grey);
  border-radius: 0.5em;
}

input:hover {
  border: 1px solid var(--error-color);
  box-shadow: 2px 2px 5px var(--error-color);
}
input:focus {
  border: 1px solid var(--error-color);
  box-shadow: 2px 2px 5px var(--error-color);
}
.submit {
  text-decoration: none;
  background-color: var(--Blue-800);
  color: var(--White);
  width: 100%;
  padding: 1em;
  margin: 1em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
button:hover {
  background-image: linear-gradient(
    to right,
    var(--error-color),
    rgb(241, 200, 124)
  );
}
.error {
  visibility: hidden;
  font-size: 12px;
  color: red;
  float: right;
  transition:
    all 200ms,
    opacity 400ms;
  transform: scale(1.1);
}
footer {
  text-align: center;
  margin: 2em;
}

@media screen and (max-width: 1138px) {
  main {
    height: 100%;
    padding: 3em;
  }
  section {
    width: 70%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 4em;
    padding: 0%;
  }
  section :nth-child(1) {
    order: 1;
  }
  section :nth-child(2) {
    order: 2;
  }
  aside {
    width: 63vw;
    margin: 0;
  }
  .illustration {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 800px) {
  main {
    height: 100%;
    padding: 0;
  }
  section {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 4em;
  }
  section :nth-child(1) {
    order: 1;
  }
  section :nth-child(2) {
    order: 2;
  }
  aside {
    width: 99.999%;
    margin: 0;
  }
  .illustration {
    width: 100%;
    height: 100%;
  }
}
